version: '3.8'

services:
 mongo3:
    image: mongo
    ports:
      - "27018:27017"

#  image:  is not pulling into docker-hub in inside the local system 
# dockerfile is path of dockerfile
# context is path of the project folder matalb local system code kya per hae ./ per ab t to 
# - is array
# fist build is happend then start 
# in here you don't create network because docker-compose create network by default ip / dns is a conainer name
# mongodb://mongo3:27017/user_db
 user_app:
  build:
    context: ./
    dockerfile: Dockerfile
  environment:
   Mongodb_url : mongodb://mongo3:27017/user_db
  ports:
   - "3001:3000"
  depends_on:
   - mongo3
  

