<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css"> 
     <!-- ese ke andar apko href me css file ka path dena jarurri nahi kyu ko wo public folder me hae  -->
      <!-- But dyan rakna public folder me root me hona chaiye and index.css amd index.js -->

    <title>Document</title>
</head>
<body>ADFJSDVDSFL
    
</body>
</html>

<!-- File nam e .ejs hona chahiye -->